## Imports

In [78]:
import pandas as pd
import numpy as np

## Introduction

## Explore Data

## Examine Relations

In [79]:
dow = "data/dow_jones_indices.csv"

In [80]:
x = pd.read_csv(dow, sep=";")

In [81]:
x.head()

,Date,Dow Jones Industrial Average TR,Dow Jones Industrial Average NTR,Dow Jones Industrial Average
0,3/25/15,"35644,4","31833,34","17718,54"
1,3/26/15,"35563,32","31760,93","17678,23"
2,3/27/15,"35632,59","31822,79","17712,66"
3,3/30/15,"36162,97","32296,47","17976,31"
4,3/31/15,"35766,56","31940,75","17776,12"

TR = Total Return
NTR = Net Total Return

In [48]:
btc = "data/bitcoin_prices.csv"

In [51]:
y = pd.read_csv(btc, sep=";")

In [54]:
y.head()

,Date,Symbol,Open,High,Low,Close,Volume BTC,Volume USD
0,2020-03-25,BTCUSD,6769.0,6769.0,6533.0,6721.5,2070.93,1.376608e+07
1,2020-03-24,BTCUSD,6505.1,6875.0,6404.0,6769.0,15188.15,1.009810e+08
2,2020-03-23,BTCUSD,5825.5,6615.0,5688.1,6505.1,16492.58,1.023196e+08
3,2020-03-22,BTCUSD,6196.3,6419.9,5748.7,5825.5,11834.26,7.158168e+07
4,2020-03-21,BTCUSD,6206.8,6469.9,5850.0,6196.3,11088.62,6.856397e+07

## Bibliography

Source from where we downloaded our data: 
- https://www.cryptodatadownload.com/data/kraken/
- https://us.spindices.com/indices/equity/dow-jones-industrial-average